.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
Ergebnisse berichten mit R.pdf
Xaringan-Start.Rmd
Xaringan-Start.html
_old
libs
Xaringan-Start_files
Reporting_files
Reporting.html
Reporting.Rproj
Xaringan_Incremental.Rmd
